
article.tweet {
  border: 2px solid black;
  margin-top: 1.5em;
  
}

article.tweet:hover {
  box-shadow: 7px 7px lightgrey
} 

article header {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: auto;
  margin-top: 1.0em;
}

.name{
  font-weight: bold;
}

.handle{
  color:lightgrey;
}

.body {
  border-bottom: 2px solid black;
  width: 95%;
  padding-bottom: 1em ;
  margin: auto; 
  margin-bottom: 0.5em;
  margin-top: 1.5em;
  font-weight: bold;
  
}

/* footer element */
footer {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: bold;
  width: 95%;
  margin: auto;
  margin-bottom: 1.0em;
}

/* span element */
.iconContainer {
  display: flex;
  justify-content: space-around;
  width: 7%;
  color: darkblue;
}


i:hover {
  cursor: pointer;
  color: yellow;
}
